
h1{
  font-size: 80px;
}

body{
  background-color: #ff9900;
}

.cat_box{
  border: 3px dotted yellow;
  width:600px;
  height: 300px;
}

.box{
  display: inline-block;
  border: 1px solid red;
  height:80px;
  width:180px;


}

.stats{
  border: 3px dotted yellow;
  max-width:80%;
  margin:center;
  height: 300px;
}

.chooseBox{
  display: inline-block;
  border: 1px solid red;
  height:30%;
  /* max-width: 50%; */
  width: 100px;
  /* margin: center; */
  /* align-items: center; */
}

#buttonX{
  background-color:yellow;

}

#buttonO{
  background-color:blue;
}

.box p{
  font-size: 30px;
  text-align: center;

}

.x{
  background-color: yellow;
  border: 3px solid green;
}

.o{
  background-color: blue;
  border: 3px solid pink;
}
