
h1{
  font-size: 50px;
  text-align: center;
}

body{
  background-color: #ff9900;
}

.cat_box{
  width:300px;
  height: 250px;
  margin: 0 auto;
}

.box{
  display: inline-block;
  border: 1px solid #eb500c;
  height:70px;
  width:70px;
  box-shadow: 0 5px 5px #df7d5e;
  
}

.counter{
      margin: 0 auto;
      width:300px;
}

.stats{
  width:300px;
  margin: 0 auto;
  height: 200px;
}

.chooseBox{
  display: inline-block;
  border: 1px solid #eb500c;
  height:40%;
  width: 100px;
}

#buttonX{
  background-color:yellow;

}

#buttonO{
  background-color:blue;
}

.x{
  background-color: yellow;
  border: 3px solid green;
}

.o{
  background-color: blue;
  border: 3px solid pink;
}

li{
  font-size: 15px;
  list-style-type: none;
}

footer{
  margin: 50px 80px;
  font-size: 22px;
}
